{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Book an Appointment</h2>
    {% if messages %}
        {% for message in messages %}
             <p class="{% if message.tags == 'error' %}text-red{% else %}text-green{% endif %}">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}

  <form method="POST" action="{% url 'book' %}">
    {% csrf_token %}

    <h3 class="mb-3">Select Services:</h3>
    <div class="mb-4">
    {% for service in services %}
    <div class="form-check mb-2">
        <label>
            <input type="checkbox" name="services" value="{{ service.id }}">
            {{ service.name }} - KSh {{ service.price }} ({{ service.duration }} min)
        </label><br>
    </div>
    {% endfor %}
   </div>
  <div class="mb-4">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required><br>
    </div>

   
   <div class="mb-4">
        <label for="time">Choose Time</label>
        <input type="time" id="time" name="time" class="form-control" required>
    </div>
    <button  type="submit" class="btn btn-primary px-4 py-2 fw-bold shadow-sm rounded-pill">Book Appointment</button>
    <a class="btn btn-secondary px-4 py-2 fw-semibold mt-3 rounded-3 shadow-sm" href="{% url 'logout' %}">Log out</a>

</form>
</div>
<!-- Footer / Extra Info Section -->
<div class="container mt-4">
  <div class="row align-items-center">

    <!-- Left side -->
    <div class="col-md-6 text-start">
      <a class="d-inline-flex flex-column gap-0 text-decoration-none">
        <span class="booking-by">Booking With Dee.</span>
        <span class="run-your-practice text-muted small">Secure Your Chance Today.</span>
      </a>
    </div>

   
    <div class="col-md-6 text-end">
      <div class="d-flex justify-content-center justify-content-md-end align-items-center gap-3 mb-2">
        <span class="fw-bold">Need Help?</span>

        <a href="tel:+254714883565" class="text-decoration-none d-flex align-items-center gap-1">
          <i class="bi bi-telephone-fill"></i>+254714883565
        </a>
      </div>
      <div class="text-muted small">© GlamBeauty</div>
    </div>

  </div>
</div>

{% endblock %}
